.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


:root {
    --bg_Color: #202124;
    --Head-Hei: 65px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg_Color);
}

.Header {
    width: 100vw;
    height: var(--Head-Hei);
    position: relative;
    top: 0px;
}

.I_Header {
    position: absolute;
    right: 5px;
}

.L_Header {
    width: 230px;
    height: var(--Head-Hei);
    color: white;
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}

.Mail_H {
    cursor: pointer;
    position: relative;
    bottom: 3px;
    left: 10px;
}
.Mail_H:hover {
    text-decoration: underline;
}

.Images_H {
    cursor: pointer;
    position: relative;
    bottom: 3px;
    left: 1px;
}

.Images_H:hover {
    text-decoration: underline;
}

.Icon_H {
    position: relative;
    left: 3px;
    user-select: none;
    cursor: pointer;
}

.Logo_H img {
    cursor: pointer;
    width: 32px;
    position: relative;
    right: 1px;
    border-radius: 50%;
}




.Blank_S {
    width: 100%;
    height: 164px;
}

.G_Center {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.G_Center img {
    height: 92px;

}
form {
    position: relative;
    top: -3px;
}



.G_Center_Down {
    /* border: 1px solid red; */
    height: 100px;
    width: 100%;

}


.Input_Box {
    width: 700px;
    margin: auto;
    /* background-color: aqua; */
    height: 100px;
    
}

.Input_Main_Box {
    
    width: 582px;
    border: 1px solid #5F6368;
    background-color: var(--bg_Color);
    height: 46px;
    margin: auto;
    border-radius: 100px;
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
}

.Icon_Inp {
    color: #5F6368;
    padding: 10px;
    font-size: 1px;
    line-height: 20px;
    padding-left: 13px;
}

.Search_Inp{
    /* position: absolute;
    top: 0px; */
    outline: none;
    font-size: 14px;
    padding: 13px;
    border: 0px solid transparent;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    width: 410px;
    vertical-align: middle;

}


.Icon_Close {
    /* position: absolute; */
    /* top: 0px; */
    /* right: 100px; */
    color: rgb(154,160,166);
    /* vertical-align: ; */
    position: relative;
    right: 10px;

}


.Voice_Inp {
    border-left: 1px solid #5F6368;
    width: 62px;

}
.Voice_Inp img {
    display: block;
    margin: auto;
    width: 25px;
    position: relative;
    right: 1px;
}


.Img_Inp {
    /* border: 1px solid red; */
    /* width: 50px; */

}
.Img_Inp img {
    position: relative;
    top: 2px;
    width: 18px;
}